





<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/890.png" alt="pokemon">

<!-- shows up if not a user thats loged in -->
<% if (!user) {%>
    <button><a href="/users/new">Sign Up</a></button>
    <button><a href="/users/login">Login</a></button>
    
<% } %>


</body>
</html>