






<!-- shows up if not a user thats loged in -->
<% if (!user) {%>
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/890.png" alt="pokemon">
    <!-- will get back to it later -->
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/<%= Math.floor( Math.random() * 890) %> .png" alt="pokemon">


    <button><a href="/users/new">Sign Up</a></button>
    <button><a href="/users/login">Login</a></button>
    
<% } %>


</body>
</html>