<!-- user: user === user, shorthand -->
<%- include('partials/header.ejs', { user, pokemon }) %>   

<style type="text/css">
    body { background-color: #D8D8D8;color: #444;}
    .container { text-align: center;}
    .text { background-color: white;  text-align: center;}

</style>



<h2>HOME PAGE!</h2>
<% if(user) { %>
    <div class="container">
        <h2 class="text">Hello User, <%= user.username %></h2>
    
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png" alt="pokemon" width="300px" height="300px">

    </div>

<% } %>



<% if (!user) {%>
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/890.png" alt="pokemon">
    <!-- will get back to it later -->
    <img src="https://pokeapi.co/api/v2/pokemon/<%= Math.floor( Math.random() * 890) %> .png" alt="pokemon">
    

    <button><a href="/users/new">Sign Up</a></button>
    <button><a href="/users/login">Login</a></button>
    

<% } %>



<%- include('partials/footer.ejs') %> 